.pilipa-notification
  width: 384px
  right: 0
  top: 120px
  position: fixed
  margin-right: 24px;
  .pilipa-notification-notice
    padding: 16px 24px
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    line-height: 1.5;
    position: relative;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative
    word-wrap: break-word
    .pilipa-notification-icon
      float: left
      margin-top: 10px
      font-size: 30px
      i.fa-check-circle
        color: #52c41a
      i.fa-exclamation-circle
        color: #faad14
      i.fa-times-circle
        color: #f5222d
    .pilipa-notification-close
      font-size: 18px
      position: absolute
      right: 15px
      top: 10px
      color: rgba(0, 0, 0, 0.45);
      cursor: pointer
      &:hover
        color: rgba(0, 0, 0, 0.65);
    .pilipa-notification-content
      margin-left: 48px
      .pilipa-notification-title
        font-size: 16px
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 4px;
        margin-right: 10px;
      .pilipa-notification-message
        font-size: 14px
        color: rgba(0, 0, 0, 0.65);