.pilipa-search-view
  position: relative
  .pilipa-search-view-input
    width: 180px;
    border: 1px solid #ccc
    display: inline-block
    height: 36px
    line-height: 34px
    padding: 0px 8px
    float: left
    box-sizing: border-box;
    overflow: hidden
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer
    user-select: none
  .pilipa-search-view-refresh
    background: #ff8000;
    font-size: 18px;
    color: #FFFFFF;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left
  .pilipa-search-view-panel
    position: absolute
    top: 36px
    left: 0px
    display: none
    min-width: 180px
    &:before
      display: inline-block;
      position: absolute;
      content: "";
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-top-color: #ccc;
      border-right-color: #ccc;
      width: 12px;
      height: 12px;
      transform: rotate(-45deg);
      top: 7px;
      left: 30px;
      background: #FFF;
    .pilipa-search-view-panel-body
      padding: 10px
      box-shadow: 2px 2px 8px rgba(0,0,0,.2);
      margin-top: 14px;
      border-radius: 4px;
      border: 1px solid #ccc
      word-wrap: break-word;