@import '../../style/index.styl'
voucher-prefix = pilipa-prefix + '-voucher'

.{voucher-prefix}
  border: 1px solid #ccc
  border-radius: 3px
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,.1)
  padding: 20px 2%
  color: #555555
  .hidden
    display: none
  .{voucher-prefix}-header
    margin: 0px 2%
    h3 
      text-align: center
      font-size: 20px
      padding: 0
      margin: 0
    p
      display: flex
      justify-content: space-between
      font-size: 14px
  .{voucher-prefix}-footer
    margin: 0px 2%
    p
      font-size: 14px
      display: flex
      justify-content: space-between
  table
    width: 100%
    border-collapse: collapse
    color: #555555
    transform: translateX(-2%)
    table-layout: fixed
    thead 
      font-size: 14px
    tbody
      font-size: 12px
    tr 
      th,td
        border-color: #cccccc
        border-width: 1px
        border-style: solid
        padding: 8px
        height: 50px
  .{voucher-prefix}-table1
    thead
      tr:nth-child(1)
        th
          &:nth-child(1)
            width: 4%
            border: none
          &:nth-child(2), &:nth-child(3)
            width: 28%
          &:nth-child(4), &:nth-child(5)
            width: 20%
      tr:nth-child(2)
        th 
          padding: 0
          height: 30px
    tbody
      tr
        td
          word-break: break-word
          &:nth-child(1)
            vertical-align: middle
            text-align: center
            padding: 0
            border: none
            i 
              display: block
              cursor: pointer
              font-size: 14px
              color:#337ab7
              transition: all 500ms
              opacity: 0
              &:nth-child(1)
                margin-bottom: 4px
              &:hover
                color: #23527c
          &:nth-child(4), &:nth-child(5)
            padding: 8px 0
            background: url('../../images/money_bg.png') 0 0 / 100% auto repeat-y
        &:last-child
          td
            &:nth-child(3), &:nth-child(4)
              padding: 8px 0
              background: url('../../images/money_bg.png') 0 0 / 100% auto repeat-y
  .{voucher-prefix}-table2
    thead
      tr:nth-child(1)
        th
          &:nth-child(1)
            width: 4%
            border: none
          &:nth-child(2), &:nth-child(3)
            width: 25%
          &:nth-child(4)
            width: 8%
          &:nth-child(5), &:nth-child(6)
            width: 19%
      tr:nth-child(2)
        th 
          padding: 0
          height: 30px
    tbody
      tr
        td
          word-break: break-word
          &:nth-child(1)
            vertical-align: middle
            text-align: center
            padding: 0
            border: none
            i 
              display: block
              cursor: pointer
              font-size: 14px
              color:#337ab7
              transition: all 500ms
              opacity: 0
              &:nth-child(1)
                margin-bottom: 4px
              &:hover
                color: #23527c
          &:nth-child(4)
            input 
              width: 100%
              border: none
              border-bottom: 1px solid #ccc
              outline: none
              text-align: center
          &:nth-child(5), &:nth-child(6)
            padding: 8px 0
            background: url('../../images/money_bg.png') 0 0 / 100% auto repeat-y
        &:last-child
          td
            &:nth-child(3), &:nth-child(4)
              padding: 8px 0
              background: url('../../images/money_bg.png') 0 0 / 100% auto repeat-y
  .money-unit
    font-size: 12px
    display: flex
    justify-content: space-around
    span 
      width: (100/11)%
      text-align: center