@keyframes pilipaFadeIn
  0%
    opacity: 0
  100%
    opacity: 1;
@keyframes pilipaFadeOut
  0%
    opacity: 1
  100%
    opacity: 0
@keyframes pilipaZoomIn
  0%
    opacity: 0
    top: 0
  100%
    opacity: 1
    top: 100px
@keyframes pilipaZoomOut
  0%
    opacity: 1
    top: 100px
  100%
    opacity: 0
    top: 0
@keyframes pilipaNotificationFadeIn
  0%
    opacity: 0;
    right: -384px
  100%
    opacity: 1;
    right: 0
@keyframes pilipaNotificationFadeOut
  0%
    opacity: 1;
    margin-bottom: 16px;
    padding-top: 16px 24px;
    padding-bottom: 16px 24px;
    max-height: 150px;
  100%
    opacity: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
@keyframes pilipaRingToggle
  0%
    box-shadow: 0 0 10px #FFF;
    // transform: scale(.95)
  50%
    box-shadow: 0 0 30px #FFF;
    // transform: scale(1)
  100%
    box-shadow: 0 0 10px #FFF;
    // transform: scale(.95)
@keyframes pilipaWebUploadFadeIn 
  0%
    right: 0
    opacity: 0
  70%
    right: 14px
    opacity: 1
  100%
    right: 10px
    opacity: 1
@keyframes pilipaWebUploaderFold
  0%
    left: 0
    opacity: 1
  100%
    left: 100%
    opacity: 0
    display: none
@keyframes pilipaWebUploaderUnFold
  0%
    left: 100%
    opacity: 0
    display: block
    width: 100%
  100%
    left: 0
    opacity: 1
    display: block
    width: 100%
@keyframes pilipaWebUploaderMenuFold
  0%
    opacity: 1
    right: 0
  100%
    opacity: 0
    right: -28px
@keyframes pilipaWebUploaderMenuUnFold
  0%
    opacity: 0
    right: -28px
  100%
    opacity: 1
    right: 0
.pilipa-fade-enter
  animation-name: pilipaFadeIn
.pilipa-fade-leave
  animation-name: pilipaFadeOut
.pilipa-fade-enter, .pilipa-fade-leave
  animation-timing-function: linear
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
.pilipa-fade-enter.pilipa-fade-active
  animation-name: pilipaFadeIn
  animation-play-state: running
.pilipa-fade-leave.pilipa-fade-active
  animation-name: pilipaFadeOut
  animation-play-state: running
.pilipa-zoom-enter
  animation-name: pilipaZoomIn
.pilipa-zoom-leave
  animation-name: pilipaZoomOut
.pilipa-zoom-enter, .pilipa-zoom-leave
  animation-timing-function: linear
  animation-duration: 0.2s;
  animation-fill-mode: both
  animation-play-state: paused
.pilipa-zoom-enter.pilipa-zoom-active
  animation-name: pilipaZoomIn
  animation-play-state: running
.pilipa-zoom-leave.pilipa-zoom-active
  animation-name: pilipaZoomOut
  animation-play-state: running
.pilipa-notification-fade-enter,.pilipa-notification-fade-leave
  animation-duration: 0.24s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-play-state: paused;
.pilipa-notification-fade-enter.pilipa-notification-fade-active
  animation-play-state: running
  animation-name: pilipaNotificationFadeIn
.pilipa-notification-fade-leave.pilipa-notification-fade-active
  animation-play-state: running
  animation-name: pilipaNotificationFadeOut
.pilipa-web-uploader-fold, .pilipa-web-uploader-unfold
  animation-timing-function: linear
  animation-duration: 0.3s;
  animation-fill-mode: both
  animation-play-state: paused
.pilipa-web-uploader-fold.pilipa-web-uploader-active
  animation-name: pilipaWebUploaderFold
  animation-play-state: running
.pilipa-web-uploader-unfold.pilipa-web-uploader-active
  animation-name: pilipaWebUploaderUnFold
.pilipa-web-uploader-menu-fold, .pilipa-web-uploader-menu-unfold
  animation-timing-function: linear
  animation-duration: 0.3s;
  animation-fill-mode: both
  animation-play-state: paused
.pilipa-web-uploader-menu-fold.pilipa-web-uploader-menu-active
  animation-name: pilipaWebUploaderMenuFold
  animation-play-state: running
.pilipa-web-uploader-menu-unfold.pilipa-web-uploader-menu-active
  animation-name: pilipaWebUploaderMenuUnFold
  animation-play-state: running