pilipa-prefix = pilipa
@import './animation.styl'

for num in (1..50)
  .mt-{num}
    margin-right: (num)px
  .mb-{num}
    margin-right: (num)px
  .ml-{num}
    margin-right: (num)px
  .mr-{num}
    margin-right: (num)px
.{pilipa-prefix}-btn
  padding: 5px 12px
  border-radius: 4px
  font-size: 14px
  outline: 0
  display: inline-block
  background-color: #fff
  border: 1px solid #ccc
  cursor: pointer
  user-select: none
.{pilipa-prefix}-btn-default
  &:hover
    color: #333;
    background-color: #e6e6e6
    border-color: #adadad
  &:active
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
.{pilipa-prefix}-btn-warning
  color: #FFFFFF
  background-color: #f0ad4e;
  border-color: #eea236;
  &:hover
    background-color: #ec971f;
    border-color: #d58512;
  &:active
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
.pilipa-fade-enter
  animation-name: pilipaFadeIn
.pilipa-fade-leave
  animation-name: pilipaFadeOut
.pilipa-fade-enter, .pilipa-fade-leave
  animation-timing-function: linear
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
.pilipa-fade-enter.pilipa-fade-active
  animation-name: pilipaFadeIn
  animation-play-state: running
.pilipa-fade-leave.pilipa-fade-active
  animation-name: pilipaFadeOut
  animation-play-state: running
.pilipa-zoom-enter
  animation-name: pilipaZoomIn
.pilipa-zoom-leave
  animation-name: pilipaZoomOut
.pilipa-zoom-enter, .pilipa-zoom-leave
  animation-timing-function: linear
  animation-duration: 0.2s;
  animation-fill-mode: both
  animation-play-state: paused
.pilipa-zoom-enter.pilipa-zoom-active
  animation-name: pilipaZoomIn
  animation-play-state: running
.pilipa-zoom-leave.pilipa-zoom-active
  animation-name: pilipaZoomOut
  animation-play-state: running
.pilipa-notification-fade-enter,.pilipa-notification-fade-leave
  animation-duration: 0.24s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-play-state: paused;
.pilipa-notification-fade-enter.pilipa-notification-fade-active
  animation-play-state: running
  animation-name: pilipaNotificationFadeIn
.pilipa-notification-fade-leave.pilipa-notification-fade-active
  animation-play-state: running
  animation-name: pilipaNotificationFadeOut